<% if signed_in? %>
  <div class="center hero-unit">
    <h1><%= image_tag "logo-120.png", :alt => "Mesmeride", :id => 'logo-big' %></h1>
    
    <h2>Your Routes</h2>
    <div id='route-list'>
      <% if !@routes.nil? %>
        <%= render "routes/index" %>
        <!--  will_paginate @routes -->
      <% else %>
        No routes.
      <% end %>
    </div>
    
    <%= link_to "Import Strava Activity", get_activity_path %>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1><%= image_tag "logo-120.png", :alt => "Mesmeride", :id => 'logo-big' %></h1>

    <h2>
      Welcome to Mesmeride.  Sign in with Strava to continue!
    </h2>

    <%= link_to "Sign in with Strava", signin_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
