<tr>
  <td><a href='https://www.strava.com/activities/<%= activity['id'] %>' target='_blank'><%= activity['name'] %></a></td>
  <td><%= '%.1f' % (activity['distance'] / 1000) %>km</td>
  <td><%= '%.0f' % activity['total_elevation_gain'] %>m</td>
  <td><a class='btn btn-mini' data-id='<%= activity['id'] %>'>Import Activity</a></td>
</tr>