  <%= form_tag 'image_permalink', :id => 'image_save', :remote => true do %>
    <%= hidden_field_tag :id, @route.id %>
    <%= text_area_tag :data %>
    <%= text_field_tag :name %>
  <% end %>

  <div id='save-form' title='Share this image'>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      You can store at most three images for each route.  Once you delete them, they're gone forever.
    </div>
    
    <ul class='thumbnails' id='save-thumbs'>
      <% @route.route_images.each do |route_image| %>
        <%= render :partial => 'route_image', :locals => { :route_image => route_image } %>
      <% end %><li id='new-thumbnail'>
        <div class='thumbnail'>
          <span>Save current design for sharing</span>
        </div>
      </li>
    </ul>
  </div>
  
  <div id='embed-form' title='Embed this image'>
    <p>Copy the following code and paste it into the HTML view of your blog post or web page</p>
    
    <textarea cols='40' rows='2'></textarea>
  </div>
  