<div id='surface-container'>
  <canvas id='surface'></canvas>
</div>

<div class='footbox'>
  <%= form_for @route do |f| %>
    <div class='footdiv' id='waypoints'>
      <h3>Waypoints</h3>
      <table>
      <thead>
        <tr><th>Name</th><th>Distance</th></tr>
      </thead>
      <tbody>
          <%= f.fields_for :waypoints do |wf| %>
            <% render :partial => 'waypoint', :locals => { :f => wf } %>
          <% end %>
        </tbody>
      </table>
      
      <%= add_child_link "Add Waypoint", :waypoints ,'btn btn-small' %></p>
      <%= new_child_fields_template f, :waypoints %>
    </div>
    <%= render partial: 'tools', :locals => { :f => f } %>
  <% end %>
</div>  
<div id='bottom-anchor'></div>

<script>
  var streams = <%= raw @route.streams %>;
  var waypoints = <%= raw @route.waypoints.to_json %>;
  var renderer_options = JSON.parse('<%= 
    if @route.renderer_options.to_s == ''
      "[]"
    else 
      raw @route.renderer_options
    end %>');
</script>

<div id='jstemplates'>
  <table>
    <%= yield :jstemplates %>
  </table>
  <%= render partial: 'image_save' %>
</div>
<div id='image-assets'>
  <%= image_tag("mesmeride-watermark.png", :id => 'watermark') %>
  <%= image_tag("mesmeride-watermark-small.png", :id => 'watermark-small') %>
  <%= image_tag("mesmeride-watermark-tiny.png", :id => 'watermark-tiny') %>
</div>

<!--  javascript_include_tag "giro_renderer", "data-turbolinks-track" => true  -->
