<div id='surface-container'>
  <canvas id='surface'></canvas>
</div>

<div class='toolbox' id='tools'>
  Route Name: <%= @route.name %>
  # tools: rotate, zoom, template
  <div id='zoom-slider'></div>
</div>
<div class='toolbox' id='controls'>
  <%= button_tag "Export", :id => 'export-button' %>
  <%= button_tag "Save Route", :id => 'save-button' %>
  # controls: export-png, canvas-size, 
</div>

<div class='footbox' id='waypoints'>
  <%= form_for @route do |f| %>
    <table>
    <thead>
      <tr><th>Name</th><th>Distance</th></tr>
    </thead>
    <tbody>
       <!--@route.waypoints.each do |waypoint|  -->
        <%= f.fields_for :waypoints do |wf| %>
          
          <% render :partial => 'waypoints/waypoint', :locals => { :f => wf } %>
        <% end %>
      <!-- end -->
      <!-- render @route.waypoints -->
      </tbody>
    </table>
    <%= button_tag "Add Waypoint", :id => 'add-waypoint-button' %>
  <% end %>
</div>
  
<div id='bottom-anchor'></div>

<script>
  var streams = <%= raw @route.streams %>;
  var waypoints = <%= raw @route.waypoints.to_json %>;
</script>

<%= javascript_include_tag "giro_renderer", "data-turbolinks-track" => true %>
